*{
    padding: 0px;
    margin:0px;
}
body{
    background-image: url(./image\ 2.jpg);
    background-size: cover;
}
form{

    width: 400px;
    height: 490px;
    color: rgb(71, 70, 70);
    top: 60%;
    left: 58%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-10%,26%); 
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
    border-radius: 10px;
    font-size: 20px;
}
h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-bottom: 7%;
    font-family:courgette;
}
form input{
    width: 100%;
    margin-bottom: 20px;
}
input[type=email], input[type=password]{
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color:white;
}
 button[type=submit]
{
    border: none;
    outline: none;
    height: 40px;
    background: #f6648b;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
button input[type=submit]:hover{
    cursor: pointer;
}
.input a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}
.input a:hover{
    color: #fff;
    opacity: 1;
}
.bottom-text{
    color: #fff;
}
.bottom-text input{
    width: 10%;
    float: left;
}
.btn a{
     float: right;
}
label{
    margin-top: 3px;
}